<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtVnnwrnsblvpS27tU-i4CGncHh-5xNo0</string>
	<key>GCM_SENDER_ID</key>
	<string>237031142553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ftap.geotaxi</string>
	<key>PROJECT_ID</key>
	<string>geo-taxi-zosi7j</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-taxi-zosi7j.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237031142553:ios:4fb92c6f6115b35e2cb408</string>
</dict>
</plist>